### Program 1 - Create an empty list called shopping_cart.  Ask the user to input three items one by one and add each to the list.  Print the final list.  Then, remove the second item and print the updated list.

In [2]:
shopping_cart = [input(f"Input Item {i}") for i in range(1,4)]
print(shopping_cart)
shopping_cart.pop(1)
print(shopping_cart)

Input Item 1 bread
Input Item 2 butter
Input Item 3 biscuit

['bread', 'butter', 'biscuit']
['bread', 'biscuit']

### Program 2 - Create a tuple named student that contains a student&#39;s first name, last name, and age (e.g., (&#39;John&#39;, &#39;Doe&#39;, 19)).  Print the entire tuple.  Print only the student&#39;s last name using indexing.

In [4]:
student = (
    ('John', 'Doe', 19),
    ('Charlie', 'Smith', 20),
    ('Bob', 'Johnson', 21)
)

print("All student data:", student)

for num in student:
    print(num[1])

All student data: (('John', 'Doe', 19), ('Charlie', 'Smith', 20), ('Bob', 'Johnson', 21))
Doe
Smith
Johnson

### Program 3 - Create an empty dictionary called phone_book.  Add three key-value pairs to it, where the key is a person&#39;s name and the value is their phone number.  Print the entire dictionary.  Ask the user for a name and print that person&#39;s phone number. Handle the case where the name is not found.

In [8]:
phone_book = {}
for i in range(3):
    data = input("Enter name and phone number: ").split(",")
    phone_book[data[0].strip()] = int(data[1].strip())

print(phone_book)

name = input("Enter the name of the person")
if name.lower() in phone_book:
    print(f"{name}'s phone number is : ", phone_book[name])
else:
    print("Name not found")

Enter name and phone number:  john, 1234567890
Enter name and phone number:  charlie, 0987654321
Enter name and phone number:  alice, 5432167890

{'john': 1234567890, 'charlie': 987654321, 'alice': 5432167890}

Enter the name of the person alice

alice's phone number is :  5432167890

### Program 4 - Create a list named movies where each element is a tuple. Each tuple should contain a movie title and its release year (e.g., [(&#39;Inception&#39;, 2010), (&#39;Toy Story&#39;, 1995)]). Add a new movie tuple to the list.  Loop through the list and print each movie&#39;s title and year in a formatted string.

In [12]:
movies = [('Inception', 2010), ('Toy Story', 1995), ('Titanic', 1997)]

data = input("Enter movie titles and release year").split(",")
movies.append((data[0], int(data[1])))

print(movies)
for title, year in movies:
    print(f"Title of the movie is {title} and release year is {year}")

Enter movie titles and release year Interstellar, 2014

[('Inception', 2010), ('Toy Story', 1995), ('Titanic', 1997), ('Interstellar', 2014)]
Title of the movie is Inception and release year is 2010
Title of the movie is Toy Story and release year is 1995
Title of the movie is Titanic and release year is 1997
Title of the movie is Interstellar and release year is 2014

### Program 5 - Create a dictionary named employee that stores information for one employee. It should have the keys: &#39;name&#39;, &#39;department&#39;, and &#39;skills&#39;.  The value for &#39;skills&#39; should be a list of programming languages the employee knows (e.g., [&#39;Python&#39;, &#39;SQL&#39;]).  Print the employee&#39;s name and their second skill.

In [14]:
name = input("Enter employee name: ")
department = input("Enter department: ")

skills = input("Enter skills: ").split(",")

skills = [skill.strip() for skill in skills]

employee = {
    "name": name,
    "department": department,
    "skills": skills
}

print("Name of the employee is", employee["name"])
print("Second skill of the employee is", employee["skills"][1])

Enter employee name:  John
Enter department:  IT
Enter skills:  Python, Java, SQL

Name of the employee is John
Second skill of the employee is Java

### Program 6 - Create a list of names: names_list = [&#39;Alice&#39;, &#39;Bob&#39;, &#39;Charlie&#39;].  Convert this list into a tuple.  Try to change the first element of the new tuple to &#39;David&#39;. Observe and note what happens.

In [15]:
names_list = ['Alice', 'Bob', 'Charlie']
names_tuple = tuple(names_list)
try:
    names_tuple[0] = 'John'
except TypeError:
    print("No possible to change the values in a tuple")

No possible to change the values in a tuple

### Program 7 - Create a list fruits = [&#39;apple&#39;, &#39;banana&#39;, &#39;mango&#39;].  Ask the user to input a fruit name.  Check if the fruit is in the list and print an appropriate message (e.g., &quot;Yes, we have bananas!&quot;).  Now, check for the same fruit in the keys of this dictionary: prices = {&#39;apple&#39;: 1.0, &#39;banana&#39;: 0.5, &#39;orange&#39;: 0.75}.

In [16]:
fruits = ['apple', 'mango', 'banana']
f_name = input("Enter the name of the fruit")

prices = {'apple': 1.0, 'banana': 0.5, 'orange': 0.75}

if f_name.lower() in fruits:
    print(f"Yes, we have {f_name.lower()}")
    if f_name.lower() in prices:
        print(f"Price of {f_name.lower()} is ", prices[f_name.lower()])
else:
    print(f"No, we don't have {f_name.lower()}s")

Enter the name of the fruit apple

Yes, we have apple
Price of apple is  1.0

### Program 8 - Create a dictionary called grades where the key is a student&#39;s name and the value is a list of their test scores (e.g., {&#39;Alice&#39;: [85, 90, 78], &#39;Bob&#39;: [92, 88, 95]}).  Calculate and print the average test score for a specific student (e.g., Alice). sum(list) / len(list)

In [17]:
grades = {}

for i in range(2):
    name = input("Enter name of the student: ")
    marks = [int(input(f"Enter marks of subject {j}: ")) for j in range(1, 4)]
    grades[name] = marks

for name, scores in grades.items():
    total_marks = sum(scores)
    num_of_subjects = len(scores)
    avg_marks = total_marks / num_of_subjects
    print(f"Average score of {name} is {avg_marks}")

Enter name of the student:  John
Enter marks of subject 1:  94
Enter marks of subject 2:  79
Enter marks of subject 3:  85
Enter name of the student:  Charlie
Enter marks of subject 1:  76
Enter marks of subject 2:  88
Enter marks of subject 3:  90

Average score of John is 86.0
Average score of Charlie is 84.66666666666667

### Program 9 - Create a tuple called point that represents a 2D coordinate (e.g., (5, -3)).  Use tuple unpacking to assign the values to two variables, x and y.  Print the values of x and y and then calculate the distance from the origin (0, 0) using the formula: (x**2 + y**2)**0.5.

In [44]:
points = (5,-3)
x = points[0]
y = points[1]

print(x,y)
print('Distance from origin is: ', (x**2 + y**2)**0.5)

5 -3
Distance from origin is:  5.830951894845301

### Program 10 - Create a dictionary called menu where the keys are item names and the values are their prices. * Create an empty list called order. * Simulate a customer ordering by asking them to input two item names from the menu. Add each item to the order list. * Calculate the total cost of the order by looking up each item in the order list within the menu dictionary and summing their prices. * Print the total bill amount.

In [18]:
menu = {}

for i in range(3):
    item = input(f"Enter the item {i+1}")
    price = int(input(f"Enter the price of the item {i+1}"))
    menu[item] = price

order = []

name = input("Enter the name of the customer")
items = input("Please, enter the item that you would like to have - ").split(",")
items = [item.strip() for item in items]

for i in items:
    order.append(i)

total_amount = 0
for o in order:
    total_amount += menu[o]

print(total_amount)

Enter the item 1 bread
Enter the price of the item 1 50
Enter the item 2 butter
Enter the price of the item 2 150
Enter the item 3 biscuit
Enter the price of the item 3 34
Enter the name of the customer Charlie
Please, enter the item that you would like to have -  bread, butter

200